block content
  section#foundation.row
    .columns
      h1 Todo List
      hr

      h5#forms
          legend Buat data baru
          .row
            .columns.large-4
              input(type="text")
            .columns.large-8
              a.button(href="#") Tambah
          
       